<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RGBToLumaChromaConversion.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE0921982BCF2376003540D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE9C00772BB51EC50002EF6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE9C008D2BB51F1B0002EF6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE9C00A82BB520090002EF6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE9C00BB2BB5201B0002EF6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
